# Scikit Learn Assignment
Student Name: Sahiti Somalraju

### Question 1: Classification Example

- Explore the pima Indian diabetes dataset available at: https://www.kaggle.com/uciml/pima-indians-diabetes-database

    - Get the shape of dataset and print the number of samples and the number columns in this dataset.
    - Get the number of features and their names. 
    - Get the shape of the target variable column.
    - Using scikit-learn, develop a machine learning classifier (support vector or k-nearest neighbors or random forest or decision tree classifiers) that can be fit on 80 % of this dataset for learning or training and predict the class of patient either diabetes or not on the remaining 20 % of this dataset.
    - Test the performance of your classifier by reporting about the its accuracy, precision, recall and F1-score.
    - Print the TP, TN, FP, FN measures from the confusion matrix of the classifier that you have developed.

In [3]:
import pandas as pd
diabetes = pd.read_csv('/Users/sahitisomalraju/Downloads/diabetes.csv')
diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [2]:
# Shape of dataset
print(diabetes.shape)

# Number of samples
print(diabetes.shape[0])

# Number of columns
print(diabetes.shape[1])

(768, 9)
768
9

In [61]:
# Name of dataset features
print(diabetes.columns)

# Number of features
print(diabetes.columns.shape)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')
(9,)

In [62]:
# Shape of target variable column
outcomes = diabetes.iloc[:,8]
print(outcomes.shape)

# Target names
print(outcomes.unique())

(768,)
[1 0]

In [63]:
# Using scikit-learn, develop a machine learning classifier
# Predict the class of patient either diabetes or not

In [64]:
from sklearn.model_selection import train_test_split

In [7]:
# fit 80% of dataset for training and 20% of the dataset of testing.

x = diabetes.iloc[:,:8]
y = outcomes

x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.80)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(614, 8)
(614,)
(154, 8)
(154,)

In [8]:
from sklearn.ensemble import RandomForestClassifier as rf
clf = rf()

In [9]:
# Fit the model
clf.fit(x_train, y_train)
clf.predict(x_test)

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [11]:
# Test performance of model
# Accuracy score
from sklearn.metrics import accuracy_score
y_pred = clf.predict(x_test)
y_true = y_test
accuracy_score(y_true, y_pred)

0.7857142857142857

In [12]:
# Precision Score
from sklearn.metrics import precision_score
precision_score(y_true, y_pred)

0.6904761904761905

In [13]:
# Recall 
from sklearn.metrics import recall_score
recall_score(y_true, y_pred)

0.5918367346938775

In [14]:
# F-1 Score
from sklearn.metrics import f1_score
f1_score(y_true, y_pred)

0.6373626373626373

In [15]:
# Confusion Matrix
# Print the TP, TN, FP, FN measures from the confusion matrix.
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
print('TN: ', tn)
print('FP: ', fp)
print('FN: ', fn)
print('TP: ', fn)

TN:  92
FP:  13
FN:  20
TP:  20

### Question 2: Regression Example

- Explore the cpu-performance dataset available at: https://archive.ics.uci.edu/ml/datasets/Computer+Hardware

    - Get the shape of the dataset excluding the target variable column.
    - Get the number of samples in this dataset?
    - Get the number of features and their names. 
    - Get the shape of the target variable column.
    - using scikit-learn, develop a machine learning regression model (support vector for regression (SVR) or linear regression LR) that can be fit on 160 samples of this dataset for learning or training and predict the value of cpu-performance on the remaining samples of this dataset.
    - Test the performance of your regression model by reporting about the mean square error and the mean absolute error between the predicted and true values of the target variable for this dataset.

In [44]:
import pandas as pd
cpu_performance= pd.read_csv('/Users/sahitisomalraju/Downloads/machine.data', names=["Vendor Name", 'Model Name', 'MYCT', 'MMIN', 'MMAX', 'CACH', 'CHMIN', 'CHMAX', 'PRP', 'ERP'])
cpu_performance

,Vendor Name,Model Name,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
2,amdahl,470v/7a,29,8000,32000,32,8,32,220,253
3,amdahl,470v/7b,29,8000,32000,32,8,32,172,253
4,amdahl,470v/7c,29,8000,16000,32,8,16,132,132
...,...,...,...,...,...,...,...,...,...,...
204,sperry,80/8,124,1000,8000,0,1,8,42,37
205,sperry,90/80-model-3,98,1000,8000,32,2,8,46,50
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47
208,wang,vs-90,480,1000,4000,0,0,0,45,25

In [45]:
# Preprocessing
# Have to drop the Vendor Name because model can't work on strings
cpu_performance.drop(columns=['Vendor Name', 'Model Name'], inplace=True)
cpu_performance.dropna()

     MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     125   256   6000   256     16    128  198  199
1      29  8000  32000    32      8     32  269  253
2      29  8000  32000    32      8     32  220  253
3      29  8000  32000    32      8     32  172  253
4      29  8000  16000    32      8     16  132  132
..    ...   ...    ...   ...    ...    ...  ...  ...
204   124  1000   8000     0      1      8   42   37
205    98  1000   8000    32      2      8   46   50
206   125  2000   8000     0      2     14   52   41
207   480   512   8000    32      0      0   67   47
208   480  1000   4000     0      0      0   45   25

[209 rows x 8 columns]

In [46]:
# Shape of dataset excluding the target variable
print(cpu_performance.iloc[:,:-1].shape)

# Number of samples
print(cpu_performance.shape[0])

(209, 7)
209

In [47]:
# Feature names
print(cpu_performance.columns)

# Number of features
print(cpu_performance.columns.shape)

Index(['MYCT', 'MMIN', 'MMAX', 'CACH', 'CHMIN', 'CHMAX', 'PRP', 'ERP'], dtype='object')
(8,)

In [48]:
# Target variable
target = cpu_performance.iloc[:,-1:]

# Shape of target variable
print(target.shape)

(209, 1)

In [49]:
# Using scikit-learn, develop a machine learning regression model 
# Predict the value of cpu-performance

In [50]:
from sklearn.model_selection import train_test_split
import numpy as np

In [51]:
# Fit 160 samples of this dataset for training and the rest for testing
x = cpu_performance.iloc[:,:-1]
y = cpu_performance.iloc[:,-1:]

x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=160)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(160, 7)
(160, 1)
(49, 7)
(49, 1)

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [54]:
y_pred = model.predict(x_test)
y_pred

array([[ -9.00412605],
       [ 21.41963447],
       [ 49.31335505],
       [ 62.69063239],
       [ 35.44982457],
       [ 60.83363228],
       [301.12414716],
       [110.57676579],
       [  9.42726768],
       [ 29.43327382],
       [354.17522002],
       [296.82774152],
       [268.02816373],
       [ 49.92645898],
       [ 29.04716173],
       [ 88.65349698],
       [ 53.20011488],
       [  7.59334399],
       [ 44.33974992],
       [ 80.18435578],
       [296.0788279 ],
       [ 61.04950876],
       [ -0.90616288],
       [ 64.00175257],
       [110.26531616],
       [817.25935546],
       [ 69.10011642],
       [283.37533993],
       [ 17.72202848],
       [ 31.38602194],
       [ 51.24583293],
       [ 81.12794594],
       [ 37.1968164 ],
       [224.88004245],
       [ 64.40704864],
       [205.3957462 ],
       [ 45.08191753],
       [240.5499621 ],
       [210.11117811],
       [195.05986455],
       [ 15.04931885],
       [ 14.66210737],
       [192.35971871],
       [-12.59082458],
       [ 80.38090119],
       [ 50.9507357 ],
       [235.38969611],
       [106.84164713],
       [458.26912035]])

In [55]:
# Test performance of model
# Mean Square Error
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

1303.07772742714

In [56]:
# Mean Absolute Error
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

23.485530669350357